@model IEnumerable<FribergCarRentals.Models.Car>
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims

@{
    var session = HttpContextAccessor.HttpContext.Session;

    var adminName = session.GetString("AdminName");
    var customerName = session.GetString("CustomerName");
    var role = session.GetString("Role");
    var name = adminName ?? customerName;
}

@if (role == "Admin")
{
    <h2>@role - Car's list</h2>
    <p>
        <a class="btn btn-secondary btn-group-sm" asp-action="Create">New Car</a>
    </p>

}
else
{
    <h2>@customerName - Car's list</h2>
}



<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                Images
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                <img src="@item.ImageUrl" alt="Car Image" width="80" />
            </td>
            <td>
                @if (adminName != null)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span>|</span>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (role == "Customer")
                    {
                        <a asp-controller="Bookings" asp-action="Create" asp-route-carId="@item.Id" class="btn btn-outline-dark" style="margin-left:50px">Book</a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-dark" style="margin-left:50px">Book Now</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
