@model Booking
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims

@{
    var session = HttpContextAccessor.HttpContext.Session;

    var adminName = session.GetString("AdminName");
    var customerName = session.GetString("CustomerName");
    var role = session.GetString("Role");
    var name = adminName ?? customerName;
}

@{
    ViewData["Title"] = "Details";
}

<h2>@customerName - Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Starting
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            Ending in
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @($"{Model.Customer.FirstName} {Model.Customer.LastName}")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @($"{Model.Car.Brand} {Model.Car.Model}")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
